a:link {
    color: #9d6ead;
	text-decoration: none;
}

a:visited {
    color: #9d6ead;
	text-decoration: none;
}

a:hover {
    color: #EEEEEE;
	text-decoration: none;
}

a:active {
    color: #EEEEEE;
	text-decoration: none;
}

#pag1 {
    width: 400px;
    height: 400px;
    position: fixed;
    margin-top: 50px;
    margin-left: 50px;
	overflow:hidden;
}

#nav1 {
    font-size: 8pt;
    background-color: #dddddd;
    font-family: 'courier new', monospace;
    padding: 2px;
    text-transform: lowercase;
    border-bottom: 1px solid #CCCCCC;
	letter-spacing: 1px;
}

#d1 {
	padding:10px;
	border-color:#585858;
	border-width: 3px;
	border-style: dashed;
	width: 300px; 
	height: 300px;
	font-family: tahoma, sans serif;
	font-size: 8pt;
	text-align: justify;
	margin: auto;
	overflow:auto;
}

	
body { 	
    font-size: 7pt;
    line-height: 120%;
    background-color: #EEEEEE;
    letter-spacing: 1px;
    font-family: tahoma;
	} 
